{% extends 'base.html.twig' %}

{% block title %}
	Inscription au site
{% endblock %}

{% block body %}

	<div class="container">

		{{ form_start(form) }}

		<div class="col-12">

			<h3 class="my-5">Inscrivez vous sur notre site !</h3>

			<div class="alert alert-light">
				<h4 class="alert-heading">Informations générales</h4>
				<hr>
				{{ form_row(form.firstName) }}
				{{ form_row(form.lastName) }}
				{{ form_row(form.email) }}
				{{ form_row(form.picture) }}
			</div>

			<div class="alert alert-light">
				<h4 class="alert-heading">Mot de passe</h4>
				<hr>
				{{ form_row(form.hash) }}
				{{ form_row(form.passwordConfirm) }}
			</div>

			<div class="alert alert-light">
				<h4 class="alert-heading">Détails</h4>
				<hr>
				{{ form_row(form.introduction) }}
				{{ form_row(form.description) }}

				<hr>
				<p>Confirmez votre inscription et rejoignez nous !</p>
				<button type="submit" class="btn btn-success">
					<i class="fas fa-check"></i>
					Confirmez l'inscription
				</button>
			</div>


			{{ form_end(form) }}
		</div>

	</div>

{% endblock %}
